<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <File name="LogToFile" fileName="logs/generation.log">
            <PatternLayout pattern="%d{dd-MM-yyyy} %d{HH:mm:ss.SSS} %-5level %logger{36} [%t]  %msg%n" />
        </File>
        <File name="LogToExFile" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{dd-MM-yyyy} %d{HH:mm:ss.SSS} %-5level %logger{36} [%t]  %msg%n" />
        </File>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy} %d{HH:mm:ss.SSS} %-5level %logger{36} [%t]  %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.password_generator" level="trace" additivity="false">
            <!-- Логи ниже уровня warn идут в generation.log -->
            <AppenderRef ref="LogToFile" level="trace"/>
            <!-- Логи уровня warn и выше идут в exceptions.log и в консоль -->
            <AppenderRef ref="LogToExFile" level="warn"/>
            <AppenderRef ref="LogToConsole" level="warn"/>
        </Logger>
    <Root laevel="error">
        <AppenderRef ref="LogToExFile"/>
        <AppenderRef ref="LogToConsole"/>
    </Root>


    </Loggers>
</Configuration>